<div class="projects">
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon">  <img class="img-fluid" src="assets/img/projects/elastikchain.png" alt="image"></div>
                        <h4 class="title">
                            <a [routerLink]="['/user/description', 1]">ElastikChain </a>
                        </h4>
                        <p class="description">ElastikChain is a DApp that will help lunch other Dapps by making sure that the fund and sponsors prizes are well managed we are also giving you the choice as a user to choose the best Dapps to get funded.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"> <img class="img-fluid" src="assets/img/projects/just.jpg" alt="image"></div>
                        <h4 class="title">
                            <a [routerLink]="['/user/description', 2]">JUST</a>
                        </h4>
                        <p class="description">JUST aims to build a fair, decentralized financial system that provides stablecoin lending and governance mechanisms for users around the world.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"> <img class="img-fluid" src="assets/img/projects/dao.jpg" alt="image"></div>
                        <h4 class="title"><a href="">MakerDAO</a></h4>
                        <p class="description">MakerDAO is comprised of a decentralized stablecoin, collateral loans, and community governance.i</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"> <img class="img-fluid" src="assets/img/projects/compound.jpg" alt="image"></div>
                        <h4 class="title"><a href="">Compound</a></h4>
                        <p class="description">Compound is a money market protocol on the Ethereum blockchain — allowing individuals, institutions, and applications to frictionlessly earn interest</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"> <img class="img-fluid" src="assets/img/projects/nuo.jpg" alt="image"></div>
                        <h4 class="title"><a href="">Nuo Network</a></h4>
                        <p class="description">The non-custodial way to lend, borrow, margin trade and swap crypto assets. All traders on Nuo Network can be tracked on NuoScan.io</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"> <img class="img-fluid" src="assets/img/projects/aave.jpg" alt="image"></div>
                        <h4 class="title"><a href="">Aave Protocol</a></h4>
                        <p class="description">Aave protocol is a decentralized, open-source, and non-custodial money market protocol</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"> <img class="img-fluid" src="assets/img/projects/aave.jpg" alt="image"></div>
                        <h4 class="title"><a href="">Aave Protocol</a></h4>
                        <p class="description">Aave protocol is a decentralized, open-source, and non-custodial money market protocol</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"> <img class="img-fluid" src="assets/img/projects/aave.jpg" alt="image"></div>
                        <h4 class="title"><a href="">Aave Protocol</a></h4>
                        <p class="description">Aave protocol is a decentralized, open-source, and non-custodial money market protocol</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
