

<div class="home">
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="card-img-top" src="assets/img/finance.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Travel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="card-img-top" src="assets/img/finance.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Travel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="card-img-top" src="assets/img/finance.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Travel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="card-img-top" src="assets/img/finance.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Travel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="card-img-top" src="assets/img/finance.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Travel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="card-img-top" src="assets/img/finance.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Travel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pagination justify-content-center">
        <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>