<div class="categories">
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="w-100 p-3"  src="assets/img/categories/tech.jpg" alt="Card image Tech">
                <div class="card-body">
                    <h5 class="card-title">DeFi</h5>
                    <p class="card-text">DeFi is an abbreviation of the phrase decentralized finance which generally refers to the digital assets and financial smart contracts,DApps.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="w-100 p-2"  src="assets/img/categories/sport.jpg" alt="Card image Sport & Fitness">
                <div class="card-body">
                    <h5 class="card-title">Sport & Fitness</h5>
                    <p class="card-text">more Sport app but decentralized.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="w-100 p-2"  src="assets/img/categories/food.jpg" alt="Card image Food & Drinks">
                <div class="card-body">
                    <h5 class="card-title">Food & Drinks</h5>
                    <p class="card-text">on-demand food delivery application allows your customers to get delivered their ordered foods in the convenience of their home, office or whereever they are.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="w-100 p-2"  src="assets/img/categories/health.jpg" alt="Card image Health & Wellness">
                <div class="card-body">
                    <h5 class="card-title">Health & Wellness</h5>
                    <p class="card-text">Stay Healthy track your diet.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
    
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="w-100 p-3"  src="assets/img/categories/science-fiction.jpg" alt="Card image Sci-Fi & Games">
                <div class="card-body">
                    <h5 class="card-title">Sci-Fi & Games</h5>
                    <p class="card-text">If you're looking for mobile games to help you pass the time, these apps will entertain you for hours.</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 23rem;">
                <img class="w-100 p-3"  src="assets/img/categories/social.jpg" alt="Card image social">
                <div class="card-body">
                    <h5 class="card-title">Social</h5>
                    <p class="card-text">you may find other dapp similar to sapien here or maybe the next decentrlize twitter</p>
                    <div class="row">
                        <div class=" w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/btcu.jpeg" alt="Sponsor image">
                        </div>
                        <div class="w-24 h-3 col-md-3">
                            <img class="img-fluid" src="assets/img/sponsors/suku.png" alt="Sponsor image">
                        </div>
                    </div>
                    <a routerLink="/user/projects" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pagination justify-content-center">
        <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>