<div class="d-flex">

    <!-- Sidebar -->
    <div class="bg-color-app-secondary border-right" id="sidebar-wrapper" [@openClose]="showMenu ? 'open' : 'closed'">
      <div class="sidebar-heading">Elastikchain</div>
      <div class="list-group list-group-flush">
        <a routerLink="/user/categories" routerLinkActive="sidenav-element-active" >Categories</a>
        <a routerLink="/user/projects" routerLinkActive="sidenav-element-active">Discover DApps</a>
        <a href="#">Sponsors</a>
        <a href="#">Investors</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
  
    <!-- Page Content -->
    <div id="page-content-wrapper">
  
      <nav class="navbar navbar-expand-lg navbar-light border-bottom bg-color-app-primary elstaikchain-user-nav">
        <button class="btn btn-sm" id="menu-toggle" (click)="toggleMenu()"> 
          <i class="fa fa-bars bg-color-app-primary"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn bg-color-app-primary" id="dropdownBasic1" ngbDropdownToggle>Med Amine Idmoussi</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Profile</button>
                  <button routerLink="" ngbDropdownItem>Logout</button>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </nav>
  
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  
  </div>
  <!-- /#wrapper -->
  
