/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/font-awesome/css/font-awesome.css";

.bg-color-app-primary{
    background-color:#e43c5c ;
    color: white;
}

.bg-color-app-secondary{
    background-color: #666666;
    color: white;
}